*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color:rgb(10, 10, 10);
    padding: 16px 0;
    color: #f8f6f6;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.container {
    width: 90%;
    max-width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 100%;
    border-radius: 5%;
}

.articles article {
    width: 30%;
}

section{
    padding: 16px 0;
}

section h2,
.articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a{
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 6px;
}

.articles article a:hover{
    text-decoration: none;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    text-align: justify;
    word-break: normal;
}

.articles article h3{
    font-size: 24px;
}

section h2{
    font-size: 32px;
}

#esportes {
    background-color: rgb(24, 22, 22);
    color:#f8f6f6;
}

#esportes .articles article a{
    background-color: rgb(231, 107, 25);
}

#economia{
    background-color:rgb(50, 54, 46);
    color:#f8f6f6
}

#economia .articles article a{
    background-color: rgb(231, 107, 25);
}

#entretenimento {
    background-color: rgb(231, 107, 25);
    color:#f8f6f6
}

#entretenimento .articles article a{
    background-color: rgb(12, 12, 12);
}

#tecnologia{
    background-color:rgb(20, 20, 20);
    color:#f8f6f6
}

#tecnologia .articles article a{
    background-color: rgb(231, 107, 25);
}

footer{
    background-color: black;
    color: #f8f6f6;
    height: 70px;
    text-align: center;
}

#botao .o-botao {
    background-color: rgb(231, 107, 25);
    font-family: Arial, Helvetica, sans-serif;
    color: #f8f6f6;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    position: absolute;
    text-decoration: none;
    font-size: 15px;
}

