body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dddada;
}

.todo-container {
    background: white;
    padding: 180px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 40px;
    text-align: center;
}

#task-input {
    width: 45%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-right: 10px;
    font-size: large;
}

button {
    padding: 15px 15px;
    background-color: #4b3ff3;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: large;
}

span {
    color: #9dade4;
    font-size: 1rem;
}

button:hover {
    background-color: #271daf;
    transition: 0.5s;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}
